@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";



body {
  background-color: #eff1f7;
  font-family: "Plus Jakarta Sans", sans-serif;
}

ul{
  font-weight: 600;
}

*{
  transition-duration: 400ms;
}