@import "tailwindcss";



body {
  background-color: #eff1f7;
}

ul{
  font-weight: 600;
}

*{
  transition-duration: 400ms;
}
.hide-scroll{
  scrollbar-width: none;

  &::-webkit-scrollbar{
    width: 0px;
  }
}

.subtask-completed{
  &::after{
    background: url("/check.svg") no-repeat;
    background-size: 14px;
    background-position: 1px 2px;
    
  }
}